<div class="user_container">
  <div class="user_img">
    <img src=<%= user.photo%> alt="<%= user.name %>'s photo">
  </div>
  <div class="user_highlights">
    <h2><%= user.name %></h2>
    <p>Number of posts: <%= user.postCounter || 0 %></p>
  </div>
</div>
